{% extends 'layouts/application.html' %}

{% block content %}
  {% include "shared/filters.html" %}
  <div class="l-container">
    <div class="articlePreview">
      {% for item in article.preview %}
        <div class="articlePreview_inner articlePreview_inner-archive">
          {% if item.image == 'true' %}
            <a href="{{ item.url }}">
              <div class="articlePreview_picture">
                <span class="articlePreview_type articlePreview_type-white">{{ item.type }}</span>
                <img class="articlePreview_cover" src="{{ item.picture }}" alt="#">
              </div>
            </a>
          {% else %}
            <span class="articlePreview_type">{{ item.type }}</span>
          {% endif %}
          <a href="{{ item.url }}">
            <h6 class="articlePreview_title articlePreview_title-archive">{{ item.title }}</h6>
          </a>
          <p class="articlePreview_excerpt articlePreview_excerpt-archive">{{ item.excerpt | safe }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
