{% extends 'layouts/application.html' %}

{% block content %}
  <div class="l-container">
    <header class="article_header">
      <h1 class="article_title">{{ article.title }}</h1>
      <p class="article_meta">
        <a href="#">
          <span class="article_metaItem">{{ article.category }}</span>
        </a>
        <span class="u-push-horz-half">|</span>
        <span>{{ article.date }}</span>
      </p>
    </header>
    <main>
      <div class="u-pull-horz-gutter u-pull-horz-gutter-none article_coverContainer">
        <img class="article_cover" src="{{ article.cover }}" alt="#">
        <p class="article_coverCaption">{{ article.coverCaption }}</p>
      </div>
      <p class="article_excerpt">{{ article.excerpt }}</p>
      <div class="typography">{{ article.content | safe }}</div>
      <div class="u-push-btm-double">
        <img class="article_authorPicture" src="{{ article.authorpicture }}" alt="">
        <p class="article_author">{{ article.author }}</p>
        <a class="article_authorContact" href="{{ article.authorcontacturl }}">{{ article.authorcontact }}</a>
      </div>
      <a class="article_comments" href="#">Load comments</a>
      <div class="related">
        <h4 class="u-ta-center u-push-btm">Related Articles</h4>
        <div class="g-row">
          {% for item in article.related %}
            <div class="g g-12 u-push-btm">
              {% if item.image == 'true' %}
                <a href="{{ item.url }}">
                  <div class="related_picture">
                    <span class="related_type related_type-white">{{ item.type }}</span>
                    <img class="related_cover" src="{{ item.picture }}" alt="#">
                  </div>
                </a>
              {% else %}
                <span class="related_type">{{ item.type }}</span>
              {% endif %}
              <a href="{{ item.url }}">
                <h6 class="related_title">{{ item.title }}</h6>
              </a>
              <p class="related_excerpt">{{ item.excerpt | safe }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
