{% extends 'layouts/application.html' %}

{% block content %}
  <main class="article">
    <div class="l-container">
      <div class="article_inner">
        <header class="article_header">
          <h1 class="article_title">{{ article.title }}</h1>
          <p class="article_meta">
            <a href="#">
              <span class="article_metaItem">{{ article.category }}</span>
            </a>
            <span class="u-push-horz-half">|</span>
            <span>{{ article.date }}</span>
          </p>
        </header>
        <div class="article_coverContainer">
          <img class="article_cover" src="{{ article.cover }}" alt="#">
          <p class="article_coverCaption">{{ article.coverCaption }}</p>
        </div>
        <p class="article_excerpt">{{ article.excerpt }}</p>
        <div class="typography">{{ article.content | safe }}</div>
        <div class="u-push-btm-double">
          <img class="article_authorPicture" src="{{ article.authorpicture }}" alt="">
          <p class="article_author">{{ article.author }}</p>
          <a class="article_authorContact" href="{{ article.authorcontacturl }}">{{ article.authorcontact }}</a>
        </div>
        <div class="u-padd-btm-double">
          <a class="btn u-push-btm-double" href="#">Load comments</a>
        </div>
      </div>
      <h4 class="u-ta-center u-push-btm">Related Articles</h4>
      {% include "shared/article-preview.html" %}
    </div>
  </main>
{% endblock %}
