{% extends 'layouts/application.html' %}

{% block content %}
  <main class="article">
    <div class="l-container">
      <div class="article_inner">
        <header class="article_header">
          <h1 class="article_title">{{ article.title }}</h1>
          <p class="article_meta">
            <a href="#">
              <span class="article_metaItem">{{ article.category }}</span>
            </a>
            <span class="u-push-horz-half">|</span>
            <span>{{ article.date }}</span>
          </p>
        </header>
        <div class="article_coverContainer">
          <img class="article_cover" src="{{ article.cover }}" alt="#">
          <p class="article_coverCaption">{{ article.coverCaption }}</p>
        </div>
        <p class="article_excerpt">{{ article.excerpt }}</p>
        <div class="typography">{{ article.content | safe }}</div>
        <div class="u-push-btm-double">
          <img class="article_authorPicture" src="{{ article.authorpicture }}" alt="">
          <p class="article_author">{{ article.author }}</p>
          <a class="article_authorContact" href="{{ article.authorcontacturl }}">{{ article.authorcontact }}</a>
        </div>
        <div class="u-padd-btm-double">
          <a class="btn u-push-btm-double" href="#">Load comments</a>
        </div>
      </div>
      <h4 class="u-ta-center u-push-btm">Related Articles</h4>
      <div class="g-row">
        {% for item in article.related %}
          <div class="g g-12 g-3@md">
            <div class="articlePreview_inner">
              {% if item.image == 'true' %}
                <a href="{{ item.url }}">
                  <div class="articlePreview_picture">
                    <span class="articlePreview_type articlePreview_type-white">{{ item.type }}</span>
                    <img class="articlePreview_cover" src="{{ item.picture }}" alt="#">
                  </div>
                </a>
              {% else %}
                <span class="articlePreview_type">{{ item.type }}</span>
              {% endif %}
              <a href="{{ item.url }}">
                <h6 class="articlePreview_title">{{ item.title }}</h6>
              </a>
              <p class="articlePreview_excerpt">{{ item.excerpt | safe }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
