{% extends 'layouts/application.html' %}

{% block content %}
  <main class="movie">
    <div class="l-container">
      {% include "shared/filters-dark.html" %}
      <div class="g-row">
        {%- for item in movie.preview|slice(2) %}
          {%- for elem in item %}
            <div class="g g-12 g-6@sm g-4@md g-3@lg">
              <a class="movie_poster" href="{{ elem.url }}">
                <img class="u-img-max" src="{{ elem.poster }}" alt="#">
              </a>
              <a href="{{ elem.url }}">
                <h2 class="movie_title-small">{{ elem.title }}</h2>
              </a>
              <p class="movie_plays">{{ elem.plays }}</p>
            </div>
          {%- endfor %}
        {%- endfor %}
      </div>
      <div class="g-row u-push-top-double">
        <div class="g g-12 g-6@sm g-4@md g-3@lg">
          <a href="#" class="btn btn-invert u-push-btm u-push-btm-none@md" disabled>Newer</a>
        </div>
        <div class="g g-12 g-6@sm g-4@md g-3@lg g-push-4@md g-push-6@lg">
          <a href="#" class="btn btn-invert">Older</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
