{% extends 'layouts/application.html' %}

{% block content %}
  <main class="photo">
    <div class="l-container">
      <div class="u-push-btm u-push-btm-double@lg">
        <h1 class="section_title">{{ photo.title }}</h1>
        <div class="carousel" data-flickity='{ "adaptiveHeight": true, "pageDots": false }'>
          {% for item in photo.carousel %}
            <div class="carousel-cell">
              <img class="u-img-max u-push-btm-half" src="{{ item.image }}" alt="#">
              <p class="photo_description">{{ item.caption | safe }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <h4 class="u-ta-center u-push-btm">Related Photos</h4>
      <div class="g-row g-row g-clear-2@sm">
        {% for item in photo.preview %}
          <div class="g g-12 g-6@sm">
            <a class="photo_preview" href="{{ item.url }}">
              <div class="photo_inner">
                <img class="u-img-max" src="{{ item.poster }}" alt="#">
                <h2 class="photo_title">{{ item.title }}</h2>
                <span class="photo_category">{{ item.category }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
