<header class="u-bg-black u-c-white">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-12 g-6@sm">
        <p class="header_logo">
          {{ site.title }}
        </p>
      </div>
      <div class="g g-12 g-6@sm">
        <nav class="nav">
          {% for item in navigation %}
            <a class="nav_item {% if item.active == 'true' %}nav_item-active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>