//============================================
// Fonts
//============================================

.article_header
  padding: $space 0
  text-align: center
  // +mq($bp-sm)
  //   padding: $space-double 0

.article_title
  +h3
  margin-bottom: $space-half

.article_meta
  margin-bottom: 0
  font-family: $font-sans
  font-size: small
  text-transform: uppercase
  color: $gray-mid

.article_cover
  margin-bottom: $space
  max-width: 100%

.article_excerpt
  font-family: $font-sans
  color: $gray-mid

.article_box
  +h5
  margin-bottom: $space
  padding: $space
  font-family: $font-headline
  font-style: italic
  background-color: $black
  color: $white
  -webkit-font-smoothing: antialiased
