//============================================
// Filters
//============================================


.filter
  font-family: $font-sans
  font-weight: 600
  color: $gray-mid
  text-transform: uppercase
  font-size: smaller

.filter_form
  margin-bottom: 0
  +mq($bp-md)
    display: flex
    align-items: center

.filter_label
  margin-bottom: $space-half
  margin-right: $space-half
  +mq($bp-md)
    margin-right: $space
    flex-shrink: 0

.filter_select,
.filter_search
  display: block
  padding: $space-half
  width: 100%
  border: 1px solid $gray
  -webkit-appearance: none
  -moz-appearance: none
  transition: border 0.2 ease

  &:active,
  &:focus
    border-color: $black
    outline: none

.filter_select-invert,
.filter_search-invert
  background-color: $color-text
  color: $gray-mid
  border: 1px solid $gray-mid

  &::placeholder
    color: $gray
    font-weight: 400

  &:active,
  &:focus
    border-color: $gray-light
    outline: none
