//============================================
// Footer
//============================================

.footer
  padding: $space 0 $space-double
  background-color: $black
  color: $white
  -webkit-font-smoothing: antialiased
  font-family: $font-sans
  font-size: small

.footer_link:hover
  text-decoration: underline
