//============================================
// Photos
//============================================

.photo
  background-color: $color-text
  color: $white
  -webkit-font-smoothing: antialiased

.photo_preview
  +size(100%)
  margin-bottom: $space
  position: relative
  display: block
  +mq($bp-lg)
    margin-bottom: $space-oneAndHalf

.photo_title
  +center-transform
  +h4
  +size(90%, auto)
  margin-bottom: 0
  text-align: center
  text-shadow: 0 0 2rem rgba($black, 0.5)
