//============================================
// Podcasts
//============================================

.podcast_header
  padding: $space 0
  text-align: center
  +mq($bp-sm)
    padding: $space-oneAndHalf 0
  +mq($bp-md)
    padding: $space-double 0

.podcast_title
  +mq($bp-md)
    +h5
  
  &:hover
    color: $gray-mid

.podcast_title-archive
  +h6

.podcast_item
  margin-bottom: $space-threeQuarter
  padding-bottom: $space-threeQuarter
  border-bottom: 1px solid $gray

.podcast_item-archive
  +mq($bp-md)
    border: 0
    padding-bottom: 0

.podcast_type
  font-family: $font-sans
  font-weight: 600
  color: $gray-mid
  text-transform: uppercase
  font-size: small

.podcast_meta
  margin-bottom: $space-quarter
  color: $gray-mid
  font-family: $font-sans
  font-size: small
  +mq($bp-md)
    font-size: inherit

.podcast_description
  font-size: small
  +mq($bp-md)
    font-size: inherit

.podcast_player
  width: 100%
  margin-bottom: $space

.podcastSingle_title
  +h3
  margin-bottom: $space-half
  +mq($bp-lg)
    +h2
    margin-bottom: $space-half

.podcastSingle_meta
  margin-bottom: 0
  font-family: $font-sans
  font-size: small
  text-transform: uppercase
  color: $gray-mid

.podcastSingle_metaItem:hover
  text-decoration: underline
